* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(255,255,255,0.05);
    
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: white;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    width: 250px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: rgba(56,189,248,0.2);
}

.content {
    text-align: center;
    padding: 80px;
}

/* CENTER BOX FOR ABOUT & CONTACT */
.center-box {
    max-width: 600px;
    margin: 100px auto;   /* center horizontally */
    padding: 50px;
    background: rgba(255,255,255,0.07);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.center-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.center-box p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #38bdf8;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
